/*comments for example
#lab_2 a{
  color: purple;
}
#lab_2{
  color: blue;
} */
}
.lab{
  color: blue;
  font-family: "comic sans";
  text-indent: 20px;
  margin-left: 40px;
}
.lab a{
  color: green;
  font-family: "comic sans";
  text-indent: 20px;
  margin-left: 50px;
}
body {
  background-color: lightblue;

}
.center{
  display: block;
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

p{
  text-align: center;
  font-size: 300%;
}
p1{
  text-align: center;
  font-size: 150%;
}
ol{
  font-size: 150%;
}
