
body{
  background-color: lightblue;
}

body main div{
  border: 5px solid #555;
}

body main div h1{
  float: left;
  font-size: 200%;
}

body main div p{
  float: left;
  font-size: 150%;
  font-size: 20px
}

body main div figure figcaption{
  margin-left: auto;
  width: 800px;
}

body main nav {
  text-indent: 35px;
  border: 5px solid #555;
  font-size: 200%;
}
.pic{
  display: block;
  margin-left: auto;
  width: 800px;
  height: 600px;
}

.lab {
  color: purple;
  text-indent: 50px;
}

.lab a {
  color: blue;
  text-indent: 75;
}
